body {
  font-family: 'Lato', sans-serif;
  // background-color: grey;

  .app {
    max-width: 550px;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    // border: 1px solid black;

    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
