.message-form-container {
  border: 1px solid black;
  border-radius: 10px;
  background-color: whitesmoke;
  margin-top: 10px;
  height: 50px;
  position: sticky;
  bottom: 0;
  z-index: 2;

  form {
    height: 100%;
    display: flex;

    input {
      margin: 10px 5px 10px 10px;
      font-size: 16px;
      width: 90%;
      background-color: grey;
      color: black;
      border: none;
      background-color: transparent;
      outline: 0;
    }

    button {
      background-color: white;
      border-radius: 5px;
      margin: 5px;
      border: 1px solid black;
      color: black;
    }
  }
}
