.sign-in {
  margin: 40px 20px;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 1.5rem;
    margin: 10px auto;
    text-align: center;
  }

  .register {
    margin: 20px auto;
    padding: 10px;
    font-size: 12px;
    color: blue;
    text-align: center;
    cursor: pointer;
  }
}
