.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  margin: 5px;

  &.small {
    min-width: 100px;
    font-size: 12px;
  }

  &.red {
    background-color: red;
  }

  &.grey {
    background-color: #333;
  }

  &.green {
    background-color: green;
  }

  &.icon {
    min-width: 50px;
    border-radius: 5px;
    padding: 0 10px;

    &.red {
      background-color: red;
    }

    &.green {
      background-color: green;
    }

    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}
