.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px ;

  .options {
    display: flex;
    align-items: center;
    justify-content: space-arround;
    
    .option {
      margin: auto 10px;
      padding: 10px;
      font-size: 16px;
      white-space: nowrap; 
      
      @media screen and (max-width: 500px) {
          padding: 0;
          font-size: 12px;
        }
    }
  }
}
