.user-card {
  border: 1px solid lightblue;
  border-radius: 10px;
  background-color: white;
  display: flex;
  margin-bottom: 15px;
  cursor: pointer;

  .user-info {
    display: flex;
    flex-direction: column;
    margin: auto 0;

    h3 {
      // border: 1px solid black;
      margin: 10px 20px 5px 20px;
      width: 100%;
      font-size: 1.5rem;

      @media screen and (max-width: 500px) {
        font-size: 1.2rem;
      }
    }

    p {
      // border: 1px solid black;
      margin: 5px 20px 10px 20px;
      width: 100%;

      @media screen and (max-width: 500px) {
        font-size: 14px;
      }
    }
  }
}
